beautifulsoup4
datasets
faiss-cpu
fasttext
Flask
gensim
huggingface_hub
langchain
langchain-community
langchain-core
langchain-text-splitters
matplotlib
nltk
numpy
pandas
pdfminer.six
peft
pymongo
qalsadi
regex
requests
scikit-learn
spacy
streamlit
tensorflow
torch
torchtext
transformers
trl
word2number
